body {
  background-image: url('../images/wallpaper.jpg');
  background-repeat: no-repeat;
}

h1 {
  font-size: 105px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin-top: 0px;
  color: red;
  font-family:ms gothic;
}

p {
  font-size: 35px;
  text-align: center;
  margin-top: 0px;
  color: lime;
  font-family:ms gothic;
}

div {
  position: fixed;
  left: 50%;
  bottom: -30px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
}